@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.ant-modal {
  top: 20px;
}

.custom-modal-edit.ant-modal {
  width: 450px !important;
}

.custom-modal-dark .ant-modal-content {
  background-color: #333333;
}

.custom-modal-dark .ant-modal-content .ant-modal-close svg {
  color: white;
}

.custom-modal-dark .ant-modal-header {
  background-color: #333333;
}

.custom-modal-dark .ant-modal-title {
  color: white;
  font-family: "Rubik", sans-serif;
}

.custom-modal-dark .ant-modal-body {
  color: white;
  margin-bottom: 2rem;
  font-family: "Rubik", sans-serif;
}

.custom-modal-dark .ant-modal-footer .ant-btn-primary {
  background-color: #d32f2f;
  color: white;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.custom-modal-dark .ant-modal-footer .ant-btn-primary:hover {
  background-color: #a72626;
}

.custom-modal-dark .ant-modal-footer .ant-btn-default {
  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.custom-modal-dark .ant-modal-footer .ant-btn-default:hover {
  color: #c2c2c2;
  background-color: transparent;
}

/*MODE LIGHT*/

.custom-modal-light .ant-modal-title {
  font-family: "Rubik", sans-serif;
}

.custom-modal-light .ant-modal-body {
  margin-bottom: 2rem;
  font-family: "Rubik", sans-serif;
}

.custom-modal-light .ant-modal-footer .ant-btn-primary {
  background-color: #d32f2f;
  color: white;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.custom-modal-light .ant-modal-footer .ant-btn-primary:hover {
  background-color: #a72626;
}

.custom-modal-light .ant-modal-footer .ant-btn-default {
  background-color: transparent;
  border: none;
  color: #666666;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.custom-modal-light .ant-modal-footer .ant-btn-default:hover {
  color: #c2c2c2;
  background-color: transparent;
}
